@charset "UTF-8";
/* CSS portfolio styles */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
body {
	font-family: 'Raleway', sans-serif;
	margin:0;
	height: 0;
}
h1 {
	color: black;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 40px;
	display: block;
}
h2 {
	margin-top: 50px;
	padding: 10px;
	text-decoration-line: underline;
	text-decoration-color: #323E35;
	margin-right: 2vw;
}
h3 {
	border: 2px solid #323E35;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*Mainpage layout*/

/*Navigation*/
#container-left {
	width: 15vw;
	min-height: 120vh;
	margin-left: 0;
	background: black;
	float: left;
}
.dropbtn {
	padding: 50px;
	border: none;
	border-radius: 50px;
	margin-left: 4vw;
	margin-top: 4vw;
}
#dropimg {
	background-image: url(../images/logo.webnav.png);
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin-left: 2vw;
	border-radius: 100px;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
}
.dropdown-content a:hover {
	color: #323E35;
	font-weight: 900;
	text-transform: uppercase;
	text-shadow: 2 2 5 #323E35;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
}
/*main page*/
#container-center-main {
	background-image: url("../images/collage.portfolio.2 copy.jpg");
	background-color: #cccccc;
	background-size: cover;
	height: 120vh;
	width: 85vw;
	margin-left: 15vw;
}
#container-right-main {
	float: right;
}
#name {
	float: right;
	background-color: rgba(50,62,53,0.7);
	font-size: 30px;
	border: none;
	border-radius: 5px;
	color: white;
	clear: right;
	padding: 0px 10px 0px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#main-description {
	background: rgba(0,0,0,0.8);
	border: 1px solid black;
	border-radius: 5px;
	color: white;
	clear: right;
	padding: 0px 10px 0px 10px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*contact page*/

#container-center-contact {
	float: left;
	margin-left: 2.6vw;
	width: 50vw;
}
#container-right-contact {
	float: right;
	
	color: white;
	width: 25vw;
	margin-top: 430px;
}
#container-right-contact p {
	margin-bottom: 20px;
}
#contact-page {
	background-image: url("../images/black-rock-unsplash.s.jpg");
	background-position: center;
}
#contact {
	margin-left: 0;
	color: #ddd;
}
p {
	text-align: left;
	margin: 5px;
}
input {
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	margin-bottom: 20px;
	width: 15vw;
}
textarea {
	resize: none;
	border-radius: 5px;
	padding: 15px 5px 5px 5px;
	margin-bottom: 20px;
	width: 15vw;
}
#message-area {
	padding: 70px 10px 70px 10px;
	width: 20vw
}
label {
	color: white;
}
#button {
	background-color: #696969;
	color: white;
	width: 100px;
	margin-top: 20px;
	padding: 10px;
}
/*about me page*/


#container-center-about {
	display: block;
	width: 40vw;
	float: left;
}
#about-me-text {
	width: 30vw;
	float: right;
	margin-top: 145px;
	margin-right: 3vw;
	border: 2px solid #323E35;
	color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fig-box {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*#about-center{
	background-image: url(../images/marble-black.jpeg);
	background:cover;
	height:100vh;
	
}
*/
/*Projects page*/

#buttonback {
	background: black;
	color: white;
	width: 3.5vw;
	height: 3vh;
	float: right;
	position: absolute;
	top: 9vh;
	right: 4vw;
	border-radius: 5px;
}
/*#aboutproject{
	width:25vw;
	float:right;
	
}*/
	
#container-center-projects1 {
	display: flex;
	height: 100vh;
	width: 50vw;
	margin-left: 15vw;
}
h4 {
	color: white;
}
a {
	text-decoration: none;
	color: white;
}
#box1 {
	background-color: black;
	display: inline block;
	width: 15vw;
	height: 40vh;
	text-decoration: none;
	margin-left: -8vw;
	margin-bottom: 2vh;
	margin-top: 140px
}
#box2 {
	background-color: black;
	display: block;
	width: 15vw;
	height: 40vh;
	text-decoration: none;
	margin-left: 3vw;
	margin-bottom: 2vh;
	margin-top: 140px
}
#box3 {
	background-color: black;
	display: inline block;
	width: 15vw;
	height: 40vh;
	text-decoration: none;
	margin-left: 3vw;
	margin-bottom: 2vh;
	margin-top: 140px
}
/*Projects Bridges*/

#container-center-projects-bridges {
	display: inline-block;
	width: 50vw;
}
#container-right-projects-bridges {
	float: right;
	width: 25vw;
	margin-top: 125px;
	margin-right: 3vw;
}
.fig-box {
	display: inline block;
	float: left;
}
/*Projects XD*/

#container-center-projects-xd {
	display: block;
	width: 50vw;
	float: left;
}
#container-right-projects-xd {
	margin-top: 125px;
	margin-right: 3vw;
	width: 25vw;
	float: right;
}
/*Projects portfolio*/

#container-center-projects-portfolio {
	display: inline-block;
	width: 50vw;
	float: left;
}
#container-right-projects-portfolio {
	margin-top: 133px;
	margin-right: 3vw;
	width: 25vw;
	float: right;
}
